/*  Do not touch here */

.container {
    margin-top: 10rem;
}


/*  Do not touch here */

.social-link a {
    text-decoration: none;
    font-size: 19px;
    background: #fff;
    padding: 12px;
    margin: 9px;
    position: relative;
    bottom: 13px;
    border-radius: 5px;
    font-weight: 600;
}


/*  Do not touch here */

.member {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
    flex-wrap: wrap;
    background: rgba(80, 163, 11, 0.3);
}


/*  Do not touch here */

img {
    width: 270px;
    height: 270px;
    border-radius: 5px;
}


/* UncleBay styling go ahead and create yours */

.unclebay {
    background: dodgerblue;
    border-radius: 5px;
    margin-right: 20px;
    color: #fff;
    opacity: 0.5;
    cursor: cell;
}

.unclebay:hover {
    opacity: 0.9;
}

.unclebay .social-link a:hover {
    background: #333;
    color: #fff;
}

.unclebay-quote {
    text-align: center;
}


/* UncleBay styling Ends here go ahead and create yours */


/* >>>>>>>>>>>>>>>  Contribution start <<<<<<<<<<<<<<<< */


/* Ekeso Start */

.ekeso {
    background: rgb(85, 2, 85);
    color: white;
    padding: 1rem;
    flex-direction: column;
    border-radius: 5px;
}

.ekeso h1 {
    margin-top: 0;
}

.ekeso .social-link a {
    border-radius: 50%;
    color: rgb(85, 2, 85);
    bottom: 11px;
}

.ekeso .social-link a:hover {
    background: rgb(85, 2, 85);
    color: white;
}

.ekeso-quote {
    text-align: center;
}

.ekeso-quote p {
    margin-bottom: 0;
}


/* Ekeso End */


/* <<<<<<<<<<<<<<<< Contribution end >>>>>>>>>>>>>>> */


/* REMLAD Start */


/* >>>>>>>>>>>>>>>  Contribution start <<<<<<<<<<<<<<<< */

.remlad {
    background: black;
    margin-left: 20px;
    color: white;
    padding: 1rem;
    flex-direction: column;
    border-radius: 5px;
}

.remlad h1 {
    margin-top: 0;
}

.remlad .social-link a {
    border-radius: 50%;
    color: rgb(85, 2, 85);
    bottom: 11px;
}

.remlad .social-link a:hover {
    background: rgb(56, 53, 216);
    color: white;
}

.remlad-quote {
    text-align: center;
}

.remlad-quote p {
    margin-bottom: 0;
}


/* REMLAD End */


/* <<<<<<<<<<<<<<<< Contribution end >>>>>>>>>>>>>>> */


/* Mobile View */


/*  Do not touch here */

@media screen and (max-width: 700px) {
    .container {
        margin-top: 0.8rem;
    }
    .member {
        display: block;
        width: 330px;
        margin: 0 auto;
        margin-top: 23px;
        text-align: center;
    }
}