@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.container{
  background-color:rgb(241, 234, 234);
  font-family: 'Roboto', sans-serif;
}

.amigos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f0e2e2
}

.member{
  min-height: 550px;
  width: 500px;
  background-color: rgb(66, 66, 97);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: white 5px;
  margin: 10px;
  border-radius: 5%;
}

.member h3{
  text-align: center;
  color: #ffffff;
}

.member h1{
  color: #ffffff;
  text-align: center;
}

.member img{
  width: 230px;
  height: 230px;
}

.member p{
  color: #ffffff;
  max-width: 100%;
  text-align: center;
  padding: 10%;
}

.member .social-link a{
  color: azure;
}